Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

feat: add link to home page
  apps/web/components/specific/header/nav-logo.tsx
Due: eslint --config eslint.config.js --fix

feat: add credit tagline
  apps/web/components/shared/branding/credit/active-matrix.tsx
Due: eslint --config eslint.config.js --fix

feat: add explore page search bar
  apps/web/components/specific/explore/explore-search.tsx
Due: eslint --config eslint.config.js --fix

feat: add recomended providers
  apps/web/components/specific/explore/recomended-providers.tsx
Due: eslint --config eslint.config.js --fix

feat: add recomended topics
  apps/web/components/specific/explore/recomended-topics.tsx
Due: eslint --config eslint.config.js --fix

feat: add explore page
  apps/web/components/specific/search-bar/search-bar.tsx
  apps/web/next.config.ts
  apps/web/styles/globals.scss
  apps/web/tsconfig.json
Due: eslint --config eslint.config.js --fix, prettier --write

Update apps/web/components/shared/search-bar/search-bar.tsx
  apps/web/components/shared/search-bar/search-bar.tsx
Due: eslint --config eslint.config.js --fix

feat(tailwindcss): add custom colors
  .vscode/proximity.code-workspace
  packages/tailwind-config/tailwind.config.ts
  packages/ui/src/react/search/search-input.tsx
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

feat(web): add data provider utils
  apps/web/data/get-recomended-providers.tsx
  apps/web/data/get-recomended-topics.tsx
  apps/web/data/get-search-results.tsx
Due: eslint --config eslint.config.js --fix

feat(web/stores): add search store
  apps/web/stores/search-store.tsx
Due: eslint --config eslint.config.js --fix

feat(web/types): add search result type
  apps/web/types/search-result-type.ts
Due: eslint --config eslint.config.js --fix

feat: add explore, search interactions
  apps/web/app/(pages)/explore/explore-screen-mgr.tsx
  apps/web/app/(pages)/explore/page.tsx
  apps/web/components/shared/search-bar/search-bar.tsx
  apps/web/components/shared/text-cheveron/text-cheveron.tsx
  apps/web/components/specific/explore/explore-search-results.tsx
  apps/web/components/specific/explore/recomended-providers.tsx
  apps/web/components/specific/explore/recomended-topics.tsx
  packages/ui/src/react/search/search-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add topics search result page
  apps/web/app/(pages)/topic/page.tsx
  apps/web/components/shared/news-card/news-card-skeleton.tsx
  apps/web/components/shared/news-card/news-card.tsx
  apps/web/components/shared/news-card/news-cover-image.tsx
  apps/web/components/shared/news-card/news-source-info.tsx
  apps/web/components/shared/news-card/news-title.tsx
  apps/web/components/shared/news-card/news-view-count.tsx
  apps/web/components/shared/search-bar/search-bar.tsx
  apps/web/components/specific/explore/explore-search-results.tsx
  apps/web/components/specific/explore/explore-search.tsx
  apps/web/components/specific/explore/recomended-topics.tsx
  apps/web/components/specific/home/explore-redirect/explore-redirect.tsx
  apps/web/components/specific/topic/results-grid.tsx
  apps/web/components/specific/topic/topic-search.tsx
Due: eslint --config eslint.config.js --fix

feat: add data util to get provider by id
  apps/web/data/get-provider-by-id.ts
Due: eslint --config eslint.config.js --fix

feat: add provider page header
  apps/web/components/specific/provider/provider-header/provider-header.tsx
Due: eslint --config eslint.config.js --fix

feat: add provider page
  apps/web/app/(pages)/provider/[providerId]/page.tsx
Due: eslint --config eslint.config.js --fix

fix: remove unnecessary suspense
  apps/web/components/specific/topic/topic-search.tsx
Due: eslint --config eslint.config.js --fix

feat: add news preview page -/prototype
  apps/web/app/story/[storyId]/page.tsx
  apps/web/components/shared/news-card/news-card.tsx
  apps/web/components/specific/news/preview/news-preview.tsx
  apps/web/components/specific/news/preview/preview-article.tsx
  apps/web/components/specific/news/preview/preview-footer.tsx
  apps/web/components/specific/news/preview/preview-header.tsx
  apps/web/components/specific/news/preview/preview.image.tsx
  packages/tailwind-config/tailwind.config.ts
Due: eslint --config eslint.config.js --fix

style: move pages to protected dir
  apps/web/app/(protected)/(pages)/explore/explore-screen-mgr.tsx
  apps/web/app/(protected)/(pages)/explore/page.tsx
  apps/web/app/(protected)/(pages)/layout.tsx
  apps/web/app/(protected)/(pages)/page.tsx
  apps/web/app/(protected)/(pages)/provider/[providerId]/page.tsx
  apps/web/app/(protected)/(pages)/topic/page.tsx
  apps/web/app/(protected)/story/[storyId]/page.tsx
Due: eslint --config eslint.config.js --fix

feat: add form component
  packages/ui/package.json
  packages/ui/src/shadcn/form.tsx
  packages/ui/src/shadcn/label.tsx
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add password input
  apps/web/components/shared/input/password-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add styled input
  apps/web/components/shared/input/styled-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add login form
  apps/web/components/specific/auth/login/login-form.tsx
Due: eslint --config eslint.config.js --fix

feat: add OAuth social login form
  apps/web/components/specific/auth/social/oauth-facebook.tsx
  apps/web/components/specific/auth/social/oauth-github.tsx
  apps/web/components/specific/auth/social/oauth-google.tsx
  apps/web/components/specific/auth/social/social-login.tsx
Due: eslint --config eslint.config.js --fix

feat: add login page
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(protected)/layout.tsx
  apps/web/package.json
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add register form
  apps/web/components/specific/auth/register/register-form.tsx
Due: eslint --config eslint.config.js --fix

style: mode auth login, register routes to auth/* route
  apps/web/app/auth/login/page.tsx
  apps/web/app/auth/register/page.tsx
Due: eslint --config eslint.config.js --fix

feat: add next-top-loader
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/shared/branding/form-logo/form-logo.tsx
  apps/web/components/specific/auth/login/login-form.tsx
  apps/web/components/specific/explore/explore-search.tsx
  apps/web/components/specific/home/explore-redirect/explore-redirect.tsx
  apps/web/components/specific/news/preview/preview-header.tsx
  apps/web/package.json
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/label.tsx
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat(web/story-preview): add seperator
  apps/web/components/specific/news/preview/news-preview.tsx
Due: eslint --config eslint.config.js --fix

feat: add postinstall script
  packages/ui/package.json
Due: prettier --write

chore: pnpm package update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: move tailwindcss from dev deps to prod deps
  packages/tailwind-config/package.json
Due: prettier --write

fix: fix dependencies missmatch
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add build:web script
  package.json
Due: prettier --write

chore: add bubblewrap TWA build
  apps/android/bubblewrap/.gitignore
  apps/android/bubblewrap/app/build.gradle
  apps/android/bubblewrap/app/src/main/AndroidManifest.xml
  apps/android/bubblewrap/app/src/main/java/app/vercel/proximity_xi/twa/Application.java
  apps/android/bubblewrap/app/src/main/java/app/vercel/proximity_xi/twa/DelegationService.java
  apps/android/bubblewrap/app/src/main/java/app/vercel/proximity_xi/twa/LauncherActivity.java
  apps/android/bubblewrap/app/src/main/res/drawable-anydpi/shortcut_legacy_background.xml
  apps/android/bubblewrap/app/src/main/res/drawable-hdpi/ic_notification_icon.png
  apps/android/bubblewrap/app/src/main/res/drawable-hdpi/splash.png
  apps/android/bubblewrap/app/src/main/res/drawable-mdpi/ic_notification_icon.png
  apps/android/bubblewrap/app/src/main/res/drawable-mdpi/splash.png
  apps/android/bubblewrap/app/src/main/res/drawable-xhdpi/ic_notification_icon.png
  apps/android/bubblewrap/app/src/main/res/drawable-xhdpi/splash.png
  apps/android/bubblewrap/app/src/main/res/drawable-xxhdpi/ic_notification_icon.png
  apps/android/bubblewrap/app/src/main/res/drawable-xxhdpi/splash.png
  apps/android/bubblewrap/app/src/main/res/drawable-xxxhdpi/ic_notification_icon.png
  apps/android/bubblewrap/app/src/main/res/drawable-xxxhdpi/splash.png
  apps/android/bubblewrap/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/android/bubblewrap/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/android/bubblewrap/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/android/bubblewrap/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/android/bubblewrap/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/android/bubblewrap/app/src/main/res/raw/web_app_manifest.json
  apps/android/bubblewrap/app/src/main/res/values/colors.xml
  apps/android/bubblewrap/app/src/main/res/values/strings.xml
  apps/android/bubblewrap/app/src/main/res/xml/filepaths.xml
  apps/android/bubblewrap/app/src/main/res/xml/shortcuts.xml
  apps/android/bubblewrap/build.gradle
  apps/android/bubblewrap/gradle.properties
  apps/android/bubblewrap/gradlew
  apps/android/bubblewrap/gradlew.bat
  apps/android/bubblewrap/manifest-checksum.txt
  apps/android/bubblewrap/settings.gradle
  apps/android/bubblewrap/store_icon.png
  apps/android/bubblewrap/twa-manifest.json
Due: prettier --write

refactor: refactor API to initialize LLM model asynchronously and stream responses
  services/tldr/main.py
Due: none

refactor: refactor LLM class for asynchronous response generation and improved sys_prompt clarity
  services/tldr/llm.py
Due: none

chore: add changelogs.md
  services/tldr/changelogs.md
  services/tldr/package.json
Due: prettier --write
