Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

feat: add ory get session helper
  apps/web/data/auth/get-session.ts
  apps/web/data/auth/ory.ts
Due: eslint --config eslint.config.js --fix

feat: add ory sdk helper libs
  apps/web/libs/ory/ory-helper.ts
Due: eslint --config eslint.config.js --fix

feat: add ory session manager middleware helper
  apps/web/libs/ory/next-middleware.ts
Due: eslint --config eslint.config.js --fix

feat: add ory session manager helpers
  apps/web/helpers/ory/next-middleware-helper.ts
  apps/web/helpers/ory/ory-helper.ts
Due: eslint --config eslint.config.js --fix

feat: add ory session provider hook
  apps/web/actions/login-action.ts
  apps/web/hooks/use-auth.ts
  apps/web/libs/ory/next-middleware.ts
  apps/web/libs/ory/ory-helper.ts
  apps/web/middleware.ts
  infra/k8s/ory-kratos/values.yml
Due: eslint --config eslint.config.js --fix

feat(hooks): add registration form hook
  apps/web/hooks/use-register-form.ts
Due: eslint --config eslint.config.js --fix

feat: refactor registration form, improved csrf security & redability
  apps/web/components/specific/auth/register/register-form.tsx
Due: eslint --config eslint.config.js --fix

feat(schema): update username -> fullname
  apps/web/schemas/register-schema.ts
Due: eslint --config eslint.config.js --fix

feat: update messageId helper to find nested messages
  apps/web/hooks/use-login-form.ts
  apps/web/utils/get-ory-message-id.ts
Due: eslint --config eslint.config.js --fix

refactor: remove unused actions
  apps/web/actions/login-action.ts
  apps/web/actions/register-action.ts
  apps/web/data/auth/get-session.ts
  apps/web/hooks/use-register-form.ts
Due: eslint --config eslint.config.js --fix

feat: update kratos identity schema to use fullname & email (as id)
  apps/web/hooks/use-register-form.ts
  infra/k8s/ory-kratos/values.yml
Due: eslint --config eslint.config.js --fix

refactor: improve sys-prompt to avoid bias and improve SEO and Tags
  .vscode/proximity.code-workspace
  services/tldr/llm.py
  services/tldr/main.py
Due: none

feat: add Dockerfile
  services/tldr/Dockerfile
Due: none

refactor: formatted code
  services/tldr/main.py
Due: none

refactor: remove unused code
  services/tldr/main.py
Due: none

feat: add recursive retry logic & output validation
  services/tldr/changelog.md
  services/tldr/libs/generate_with_retry.py
  services/tldr/llm.py
  services/tldr/main.py
Due: none

refactor: improve folder structure
  services/tldr/__init__.py
  services/tldr/libs/llm.py
  services/tldr/libs/model.py
  services/tldr/main.py
  services/tldr/schema/input_schema.py
  services/tldr/schema/output_schema.py
Due: none

feat: add finetuning script for news recommendation model
  services/recommendations/train/finetune.py
Due: none

feat: add ValidationError & InvalidJson error classes
  services/tldr/errors/invalid_json_error.py
  services/tldr/errors/validation_error.py
Due: none

refactor: improve sys propmt
  services/tldr/libs/llm.py
Due: none

refactor: improve retry login, error handling & code architecture
  services/tldr/libs/generate_with_retry.py
Due: none

chore: add package dependencies
  services/tldr/__init__.py
  services/tldr/requirements.txt
Due: none

chore: init crawler project
  services/crawler/package.json
Due: prettier --write

chore: config dev workflow
  services/crawler/nodemon.json
  services/crawler/tsconfig.json
  services/crawler/tsup.config.ts
Due: prettier --write

feat: add cheerio based crawler
  .vscode/proximity.code-workspace
  packages/rabbitmq-config/conf/config.ts
  packages/rabbitmq-config/package.json
  packages/rabbitmq-config/tsconfig.json
  packages/rabbitmq-config/tsup.config.ts
  pnpm-lock.yaml
  services/crawler/src/drivers/cheerio-crawler.ts
  services/crawler/src/index.ts
  services/crawler/src/libs/url-parser.ts
  services/scraper/package.json
  services/scraper/tsconfig.json
Due: prettier --write

feat: add Docker production build config
  apps/web/Dockerfile
  apps/web/next.config.ts
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  infra/k8s/next/nextjs-deployment.yml
  package.json
  packages/rabbitmq-config/conf/config.ts
  pnpm-lock.yaml
  services/crawler/src/drivers/cheerio-crawler.ts
  services/scraper/package.json
  services/scraper/src/mq/producer.ts
Due: prettier --write

fix: upgrade lucide-react from 0.474.0 to 0.475.0
  packages/ui/package.json
Due: prettier --write

feat: add rabbitmq message queue to push crawled urls
  services/crawler/src/index.ts
Due: none

refactor: update schema to accomodate message queue
  services/scraper/schema/request-body-schema.ts
  services/scraper/schema/validate-result.ts
Due: none

fix: fix for refining trusted source url
  services/scraper/src/schema/request-body-schema.ts
  services/scraper/src/schema/validate-result.ts
Due: none

style: move src/browser.ts -> drivers/browser.ts
  services/scraper/src/drivers/browser.ts
Due: none

refactor: improve logging stategy
  services/scraper/src/drivers/cheerio-scraper.ts
  services/scraper/src/drivers/puppeteerscraper.ts
Due: none

feat: config pino based logger
  services/scraper/src/libs/logger.ts
Due: none

style: move libs -> src/libs
  services/scraper/src/libs/find-time-stamp.ts
  services/scraper/src/libs/sanitise.ts
  services/scraper/src/libs/trusted-sources.ts
  services/scraper/src/libs/url-parser.ts
Due: none

feat: add rabbitmq message queue
  services/scraper/src/index.ts
Due: none

feat: add crash recovery, batch processing and rare limitting, bump v2.0
  services/scraper/src/browser.ts
  services/scraper/src/scraper.ts
  services/scraper/src/server.ts
Due: none

chore: version bump v2.0
  services/scraper/libs/find-time-stamp.ts
  services/scraper/libs/sanitise.ts
  services/scraper/libs/trusted-sources.ts
  services/scraper/libs/url-parser.ts
  services/scraper/package.json
Due: prettier --write

docs: add v2.0 changelogs
  idea.md
  pnpm-lock.yaml
  services/crawler/package.json
  services/crawler/src/index.ts
  services/scraper/changelog.md
Due: prettier --write

docs: add v2.0 README.md
  services/scraper/README.md
Due: none
