Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

chore: add package.json for compatibility with turborepo
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/scraper/package.json
  services/tldr/package.json
Due: prettier --write

chore: init scraper service
  services/scraper/eslint.config.js
  services/scraper/package.json
  services/scraper/tsconfig.json
  services/scraper/tsup.config.ts
Due: prettier --write

feat: add url-parser util
  services/scraper/libs/url-parser.ts
Due: none

feat: add browser class to handle puppeteer browser
  services/scraper/src/browser.ts
Due: none

feat: add scraper class
  services/scraper/src/scraper.ts
Due: none

feat: add scraper result type
  pnpm-lock.yaml
  services/scraper/src/scraper.ts
  services/scraper/types/scrape-result.ts
  services/tldr/main.py
Due: none

feat: improved scraper performace
  pnpm-lock.yaml
  services/scraper/package.json
  services/scraper/src/index.ts
  services/scraper/src/scraper.ts
  services/scraper/src/server.ts
  services/scraper/types/scrape-result.ts
Due: prettier --write

feat: add compression, rare-limiting, and input validation
  services/scraper/src/server.ts
Due: none

feat: add result sanitization and validation
  services/scraper/src/scraper.ts
Due: none

feat: add --no-sandbox flag to enhance security
  services/scraper/src/browser.ts
Due: none

feat: add url trust validation
  services/scraper/src/server.ts
Due: none

feat: add trusted sources
  services/scraper/libs/trusted-sources.ts
Due: none

feat: add find-time-stamp function
  services/scraper/libs/find-time-stamp.ts
Due: none

feat: add sanitise & validation schema
  services/scraper/libs/sanitise.ts
  services/scraper/libs/url-parser.ts
  services/scraper/libs/validate-result.ts
Due: none

feat: add relative-time-stamp parser
  pnpm-lock.yaml
  services/scraper/package.json
  services/scraper/src/scraper.ts
  services/scraper/tsconfig.json
  services/scraper/types/scrape-result.ts
  services/tldr/package.json
  services/tldr/requirements.txt
Due: prettier --write

feat: improve performance, add global browser instance to improve performance
  services/scraper/src/browser.ts
  services/scraper/src/scraper.ts
  services/scraper/src/server.ts
Due: none

fix: fixed codescan bugs
  services/scraper/libs/find-time-stamp.ts
  services/scraper/libs/sanitise.ts
  services/scraper/libs/url-parser.ts
  services/scraper/package.json
Due: prettier --write

docs: add api documentation
  services/scraper/README.md
Due: none

fix: enhanced security
  services/scraper/src/scraper.ts
  services/tldr/main.py
Due: none

docs: update readme.md
  services/scraper/README.md
Due: none

Update README.md
  README.md
Due: none

fix: move unicode combined character
  services/scraper/libs/sanitise.ts
Due: none

fix: upgrade next from 15.1.2 to 15.1.3
  apps/web/package.json
Due: prettier --write

feat(scraper): add cheerio driver for scraping static site
  services/scraper/src/drivers/cheerio-scraper.ts
Due: none

style: move scraper -> drivers/puppeteerscraper
  services/scraper/src/drivers/puppeteerscraper.ts
Due: none

feat: add cheerio driver for static sites
  pnpm-lock.yaml
  services/scraper/libs/find-time-stamp.ts
  services/scraper/package.json
  services/scraper/src/scraper.ts
  services/scraper/src/server.ts
  services/tldr/package.json
Due: prettier --write

Update services/scraper/src/server.ts
  services/scraper/src/server.ts
Due: none

Update services/scraper/src/drivers/cheerio-scraper.ts
  services/scraper/src/drivers/cheerio-scraper.ts
Due: none

Update README.md
  services/scraper/README.md
Due: none

feat: improved sys propmt
  services/tldr/main.py
Due: none

refactor: improve searchbar compatabiltity with multipage support
  apps/web/components/shared/search-bar/search-bar.tsx
Due: eslint --config eslint.config.js --fix

refactor: improve spacing
  apps/web/components/specific/news/featured/featured.tsx
Due: eslint --config eslint.config.js --fix

refactor: improve spacing
  apps/web/components/specific/tags/tags.tsx
Due: eslint --config eslint.config.js --fix

feat: add explore page
  apps/web/app/(pages)/explore/page.tsx
Due: eslint --config eslint.config.js --fix

feat: add shared layout for pages
  apps/web/app/(pages)/layout.tsx
  apps/web/app/(pages)/page.tsx
  apps/web/app/page.tsx
Due: eslint --config eslint.config.js --fix

feat: add search redirect input
  apps/web/components/specific/home/explore-redirect/explore-redirect.tsx
Due: eslint --config eslint.config.js --fix

Path conditions:
  eslint --config eslint.config.js --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
