Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

feat: add mq config
  services/tldr/libs/mq.py
Due: none

feat: add rabbitmq client class
  services/tldr/rabbitmq_client.py
Due: none

feat: add rare limit & post consume callback
  services/tldr/rabbitmq_client.py
Due: none

refactor: revert to localhost http channel
  apps/web/package.json
Due: prettier --write

feat: add dontenv variables
  services/tldr/libs/mq.py
Due: none

style: move rabbitmq_client.py -> libs/
  services/tldr/libs/rabbitmq_client.py
Due: none

ci: add docker workflow
  services/tldr/Dockerfile
  services/tldr/docker-compose.yml
Due: none

chore: add requirements-dev.txt for dev deps
  services/tldr/requirements-dev.txt
Due: none

chore: update requirements.txt with latest deps requirements
  services/tldr/requirements.txt
Due: none

feat: add aditional properties to input validation schema
  services/tldr/schema/input_schema.py
Due: none

feat: service v2.0 updates
  services/tldr/main.py
  services/tldr/rabbitmq_client.py
  services/tldr/setup.py
Due: none

chore: version bump to v2.0
  services/tldr/package.json
Due: prettier --write

style: move setup.py -> scripts/
  services/tldr/.gitignore
  services/tldr/Dockerfile
  services/tldr/scripts/setup.py
Due: none

ci: remove build tools after builing deps
  services/tldr/Dockerfile
Due: none

docs: add v2.0 Readme
  services/tldr/README.md
Due: none

docs: add v2.0 changelogs
  services/tldr/changelog.md
Due: none

feat: implement message generation and publishing in SummarizerService
  services/tldr/main.py
Due: none

fix: rename 'headline' to 'title' in output schema
  services/tldr/schema/output_schema.py
Due: none

refactor: simplify response generation in generate_with_retry function
  services/tldr/libs/generate_with_retry.py
Due: none

refactor: update input/output schema and enhance response generation in LLM class
  services/tldr/libs/llm.py
Due: none

refactor: remove setup script for model downloading and installation
  services/tldr/setup.py
Due: none

fix: update output schema to rename 'headline' to 'title'
  services/tldr/libs/generate_with_retry.py
Due: none

refactor: enhance RabbitMQ client with connection management and queue setup
  services/tldr/libs/rabbitmq_client.py
Due: none

chore: pnpm package update
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update Tailwind CSS configuration and styles to v4
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/styles/tailwind.css
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

refactor: integrate Tailwind CSS v4
  apps/web/app/layout.tsx
  apps/web/components/shared/input/styled-input.tsx
  apps/web/styles/globals.scss
Due: eslint --config eslint.config.js --fix

refactor: update Tailwind CSS build commands to use npx @tailwindcss/cli
  packages/ui/tsup.config.ts
  packages/ui/watch.ts
Due: eslint --config eslint.config.js --fix

refactor: migrate Tailwind CSS configuration to tw-global.css and update dependencies
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/tailwind-config/tsconfig.json
  packages/tailwind-config/tw-global.css
Due: prettier --write

refactor: update Tailwind CSS configuration and styles, remove deprecated files
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/postcss.config.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.ts
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add Kubernetes deployment and service configuration for Next.js application
  infra/k8s/web/nextjs-deployment.yml
Due: none

refactor: update Ory Kratos configuration for local development URLs and CORS settings
  infra/k8s/ory-kratos/values.yml
Due: none

chore: pnpm package update
  pnpm-lock.yaml
Due: none

fix: update Tailwind CLI command syntax for watch mode
  packages/ui/watch.ts
Due: eslint --config eslint.config.js --fix

chore: update VSCode settings for Prettier and ESLint integration
  .vscode/settings.json
Due: prettier --write

feat: enhance button styles with dynamic gradients and animations
  apps/web/styles/_button.scss
Due: none

feat: add secondary color variable to global styles and Tailwind CSS
  apps/web/styles/globals.scss
  apps/web/styles/tailwind.css
Due: none

feat: enhance tag buttons with loading and selection states
  apps/web/components/specific/tags/tag-button-enhanced.tsx
  apps/web/components/specific/tags/tag-button-primary.tsx
  apps/web/components/specific/tags/tags.tsx
  apps/web/types/button.ts
Due: eslint --config eslint.config.js --fix

feat(recommendation): created recommendation model, vectorstore, similarity search and setup fastapi
  services/recommendations/.gitignore
  services/recommendations/__init__.py
  services/recommendations/main.py
  services/recommendations/rec_1/rec_1.py
  services/recommendations/requirements.txt
  services/recommendations/train/finetune.py
  services/vectorstore/.gitignore
  services/vectorstore/__init__.py
  services/vectorstore/main.py
  services/vectorstore/requirements.txt
Due: none

refactor: reorganize dirs and rename components for clarity
  apps/web/components/shared/input/explore-bar.tsx
  apps/web/components/shared/input/search-bar.tsx
  apps/web/components/specific/home/featured-news/featured-description.tsx
  apps/web/components/specific/home/featured-news/featured-image.tsx
  apps/web/components/specific/home/featured-news/featured-title.tsx
  apps/web/components/specific/home/featured-news/featured.tsx
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
  apps/web/components/specific/news-grid/search-results-grid.tsx
  apps/web/components/specific/news-scroll/preview/news-preview.tsx
  apps/web/components/specific/news-scroll/preview/preview-article.tsx
  apps/web/components/specific/news-scroll/preview/preview-footer.tsx
  apps/web/components/specific/news-scroll/preview/preview-header.tsx
  apps/web/components/specific/news-scroll/preview/preview.image.tsx
  apps/web/components/specific/tags/tags.tsx
  apps/web/components/specific/topics/topic-bar.tsx
  apps/web/components/specific/topics/topic-button-enhanced.tsx
  apps/web/components/specific/topics/topic-button-primary.tsx
Due: eslint --config eslint.config.js --fix

Path conditions:
  eslint --config eslint.config.js --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
