Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

style: enhance TextCheveron component style
  apps/web/components/shared/text-cheveron/text-cheveron.tsx
Due: eslint --config eslint.config.js --fix

feat: implement recommended topics feature for desktop view and enhance search bar functionality
  apps/web/app/(protected)/(pages)/explore/page.tsx
  apps/web/app/(protected)/(pages)/page.tsx
  apps/web/components/shared/input/search-bar.tsx
  apps/web/components/specific/explore/explore-search.tsx
  apps/web/components/specific/explore/recomended-topics-desktop.tsx
  apps/web/components/specific/home/explore-redirect/explore-redirect-desktop.tsx
  apps/web/stores/search-store.tsx
Due: eslint --config eslint.config.js --fix

style: update ActiveMatrix component for full-width display and GPU transformation
  apps/web/components/shared/branding/credit/active-matrix.tsx
Due: eslint --config eslint.config.js --fix

style: hide avatar in NavHamMenu on smaller screens for improved responsiveness
  apps/web/components/specific/header/nav-ham-menu.tsx
Due: eslint --config eslint.config.js --fix

feat: add infinite scroll to home news grid
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
  apps/web/data/get-news-by-id.ts
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade lucide-react from 0.475.0 to 0.479.0
  apps/web/package.json
Due: prettier --write

perf: Replace requests with httpx for asynchronous HTTP calls and update BERT model to DistilBERT
  services/recommendations/main.py
  services/recommendations/rec_1/rec_1.py
  services/vectorstore/requirements.txt
Due: none

Update services/recommendations/main.py
  services/recommendations/main.py
Due: none

refactor: Updated the main.py and better error handling
  .gitignore
  services/recommendations/.gitignore
  services/recommendations/main.py
  services/recommendations/mq.py
  services/recommendations/rabbitmq_client.py
  services/recommendations/rec_1.py
  services/recommendations/requirements.txt
  services/vectorstore/requirements.txt
Due: none

Update services/recommendations/requirements.txt
  services/recommendations/requirements.txt
Due: none

chore: add dotenv dependency
  services/recommendations/requirements.txt
Due: none

fix: reduce backoff factor to 5 sec
  services/recommendations/main.py
Due: none

fix: remove duplicate asign of backoff factor
  services/recommendations/main.py
Due: none
