Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

chore: remove TODO comment for auth & access control in layout component
  apps/web/app/(protected)/layout.tsx
Due: eslint --config eslint.config.js --fix

refactor: update import paths for featured news and news grid components
  apps/web/app/(protected)/(pages)/page.tsx
Due: eslint --config eslint.config.js --fix

refactor: update component imports for provider, topic, and story pages
  apps/web/app/(protected)/(pages)/provider/[providerId]/page.tsx
  apps/web/app/(protected)/(pages)/topic/page.tsx
  apps/web/app/(protected)/story/[storyId]/page.tsx
Due: eslint --config eslint.config.js --fix

refactor: specify return type for initiateLogin function and enable refresh in login flow
  apps/web/hooks/use-login-form.ts
Due: eslint --config eslint.config.js --fix

refactor: update import path for SearchBar component in explore-search and explore-redirect
  apps/web/components/specific/explore/explore-search.tsx
  apps/web/components/specific/home/explore-redirect/explore-redirect.tsx
Due: eslint --config eslint.config.js --fix

refactor: allow label prop in ButtonBase to accept ReactNode type
  apps/web/types/button.ts
Due: eslint --config eslint.config.js --fix

feat: add display topic store using Zustand for state management
  apps/web/stores/display-topic-store.tsx
Due: eslint --config eslint.config.js --fix

refactor: reorganize dirs and rename components for clarity
  apps/web/app/(protected)/(pages)/page.tsx
  apps/web/app/(protected)/(pages)/provider/[providerId]/page.tsx
  apps/web/components/specific/home/topics/topic-button-enhanced.tsx
  apps/web/components/specific/home/topics/topic-button-primary.tsx
  apps/web/components/specific/topics/topic-bar.tsx
Due: eslint --config eslint.config.js --fix

feat: implement topic bar component with Zustand for topic selection
  apps/web/components/specific/home/topics/topic-bar.tsx
  apps/web/stores/display-topic-store.tsx
Due: eslint --config eslint.config.js --fix

feat: add GradientOverlays component and integrate it into TopicBar
  apps/web/components/specific/home/topics/gradient-overlay.tsx
  apps/web/components/specific/home/topics/topic-bar.tsx
Due: eslint --config eslint.config.js --fix

feat: integrate display topic store into HomeNewsGrid for dynamic news loading
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
Due: eslint --config eslint.config.js --fix

feat: update loading state type in display topic store to support boolean values
  apps/web/stores/display-topic-store.tsx
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.474.0 to 0.475.0
  packages/ui/package.json
Due: prettier --write

feat: enhance topic button with custom styles and loading state
  apps/web/components/specific/home/topics/topic-button-enhanced.tsx
  apps/web/package.json
  apps/web/styles/_button.scss
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add custom CSS properties for animations
  apps/web/app/layout.tsx
  apps/web/styles/properties.css
Due: eslint --config eslint.config.js --fix

feat: add news-snap page
  apps/web/app/(protected)/story/[storyId]/page.tsx
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
  apps/web/components/specific/news-grid/search-results-grid.tsx
  apps/web/components/specific/news-scroll/preview/news-preview.tsx
  apps/web/components/specific/news-scroll/preview/preview-article.tsx
  apps/web/components/specific/news-scroll/preview/preview-footer.tsx
  apps/web/components/specific/news-scroll/preview/preview-header.tsx
  apps/web/components/specific/news-scroll/preview/preview.image.tsx
Due: eslint --config eslint.config.js --fix

feat: remove border from enhanced button style
  apps/web/styles/_button.scss
Due: none

feat: update viewport units in globals
  apps/web/styles/globals.scss
Due: none

fix: enhance topic button hover state
  apps/web/components/specific/home/topics/topic-button-primary.tsx
Due: eslint --config eslint.config.js --fix

fix: improve provider header avatar size
  apps/web/components/specific/provider/provider-header/provider-header.tsx
Due: eslint --config eslint.config.js --fix

feat: improve responsiveness
  apps/web/app/(protected)/story/[storyId]/page.tsx
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
  apps/web/components/specific/news-scroll/preview/news-preview.tsx
Due: eslint --config eslint.config.js --fix

doc(README): Detailed explanation of recommendation model architecture, retrival, input data
  services/recommendations/README.md
Due: none

docs: update README with new logo and enhanced project description
  README.md
Due: none

feat: implement infinite scroll for news stories and add intersection observer
  apps/web/app/(protected)/story/[storyId]/page.tsx
  apps/web/components/specific/news-scroll/infinite-scroll.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add news preview components with image, article, header, and footer
  apps/web/components/shared/news-card/news-card.tsx
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
  apps/web/components/specific/news-grid/search-results-grid.tsx
  apps/web/components/specific/news-scroll/article-summery/news-preview.tsx
  apps/web/components/specific/news-scroll/article-summery/preview-article.tsx
  apps/web/components/specific/news-scroll/article-summery/preview-footer.tsx
  apps/web/components/specific/news-scroll/article-summery/preview-header.tsx
  apps/web/components/specific/news-scroll/article-summery/preview.image.tsx
Due: eslint --config eslint.config.js --fix

chore: update Next.js to version 15.2.3 in package.json and pnpm-lock.yaml
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: enhance SearchInput component with customizable className and after prop
  packages/ui/src/react/search/search-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add layout component for authentication pages and update login page styling
  apps/web/app/auth/layout.tsx
  apps/web/app/auth/login/page.tsx
Due: eslint --config eslint.config.js --fix

feat: add avatar visual element to NavHamMenu component
  apps/web/components/specific/header/nav-ham-menu.tsx
Due: eslint --config eslint.config.js --fix

feat: update StyledInput component to support larger text size on large screens
  apps/web/components/shared/input/styled-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add ExploreRedirectDesktop component with search functionality and navigation
  apps/web/components/specific/home/explore-redirect/explore-redirect-desktop.tsx
Due: eslint --config eslint.config.js --fix

refactor: improve layout structure and styling for consistency
  apps/web/app/layout.tsx
  apps/web/components/shared/branding/credit/active-matrix.tsx
Due: eslint --config eslint.config.js --fix

style: update ExploreRedirect component to use padding and full width for better responsiveness
  apps/web/components/specific/home/explore-redirect/explore-redirect.tsx
Due: eslint --config eslint.config.js --fix

fix: adjust height of loading indicator in InfiniteScroll component for improved visibility
  apps/web/components/specific/news-scroll/infinite-scroll.tsx
Due: eslint --config eslint.config.js --fix

feat: add multiple news articles to HomeNewsGrid component for enhanced content display
  apps/web/components/specific/home/home-news-grid/home-news-grid.tsx
Due: eslint --config eslint.config.js --fix

feat: integrate ExploreRedirectDesktop component into NavHeader for enhanced navigation
  apps/web/components/specific/header/nav-header.tsx
Due: eslint --config eslint.config.js --fix

feat: add mockup image for design reference in web application
  apps/web/public/images/mockup.png
Due: none

style: hide scrollbar in InfiniteScroll component for a cleaner UI
  apps/web/components/specific/news-scroll/infinite-scroll.tsx
  apps/web/styles/globals.scss
Due: eslint --config eslint.config.js --fix

style: update Tooltip component styles for improved appearance and readability
  packages/ui/src/shadcn/tooltip.tsx
Due: eslint --config eslint.config.js --fix
