Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

chore: add airbnb style lint config
  .lintstagedrc.json
  .prettierrc
  eslint.config.js
  package.json
  packages/database/src/prisma.test.ts
  packages/database/src/seed.ts
  pnpm-lock.yaml
Due: prettier --write

chore: add airbnb style lint config
  .lintstagedrc.json
  .vscode/settings.json
  eslint.config.js
  turbo.json
Due: prettier --write

feat: add react eslint config
  packages/eslint-config/react.js
Due: none

feat: add shadcn specific tailwind config
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
Due: prettier --write

feat: add react-library tsconfig
  packages/typescript-config/react-library.json
  packages/typescript-config/react-native-library.json
Due: prettier --write

feat: add shadcn based component library
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/tailwind.config.ts
  eslint.config.js
  packages/ui/.gitignore
  packages/ui/components.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/postcss.config.ts
  packages/ui/src/button.tsx
  packages/ui/src/index.tsx
  packages/ui/src/react/card.tsx
  packages/ui/src/react/index.ts
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/separator.tsx
  packages/ui/src/styles.css
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/utils/cn.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add tsup to build ui library
  apps/web/app/globals.scss
  apps/web/app/page.tsx
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/react/card.tsx
  packages/ui/src/shadcn/button.tsx
  packages/ui/tsup.config.ts
  packages/ui/watch.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

docs: add readme & contribution guide
  .github/assets/images/proximity-mockup-1.png
  CONTRIBUTING.md
  README.md
Due: none

chore: add code of conduct
  CODE_OF_CONDUCT.md
Due: none

feat(ui/web): add header, nav
  README.md
  apps/web/app/globals.scss
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/specific/header/header.tsx
  apps/web/components/specific/header/nav-ham-menu.tsx
  apps/web/components/specific/header/nav-logo.tsx
  apps/web/public/images/Logo.png
  apps/web/tailwind.config.ts
  packages/ui/src/shadcn/separator.tsx
Due: eslint --config eslint.config.js --fix

feat(ui/web): add featured article
  apps/web/app/page.tsx
  apps/web/components/specific/header/nav-header.tsx
  apps/web/components/specific/news/featured/featured-description.tsx
  apps/web/components/specific/news/featured/featured-image.tsx
  apps/web/components/specific/news/featured/featured-title.tsx
  apps/web/components/specific/news/featured/featured.tsx
  apps/web/public/images/image 2.png
Due: eslint --config eslint.config.js --fix

feat(packages/ui): add shadcn button component
  packages/ui/src/shadcn/input.tsx
Due: eslint --config eslint.config.js --fix

fix: fix typo
  README.md
Due: none

feat: add shadcn input component
  apps/web/app/globals.scss
  apps/web/app/page.tsx
  apps/web/components/specific/news/featured/featured-description.tsx
  apps/web/components/specific/news/featured/featured.tsx
  apps/web/package.json
  apps/web/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/react/index.ts
  packages/ui/src/shadcn/input.tsx
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add search bar react component
  packages/ui/src/react/search/index.ts
  packages/ui/src/react/search/search-schema.ts
  packages/ui/src/react/search/searchInput.tsx
Due: eslint --config eslint.config.js --fix

feat(web): add search bar
  apps/web/components/specific/search/search.tsx
Due: eslint --config eslint.config.js --fix

feat(web/store): add zustand screen store
  apps/web/store/screen-store.tsx
Due: eslint --config eslint.config.js --fix

feat(web): addscreen based navigation for SPA
  apps/web/app/page.tsx
  apps/web/components/shared/wrapper/screen-main.tsx
  apps/web/components/specific/search-bar/search-bar.tsx
  apps/web/hooks/use-screen.ts
  apps/web/package.json
  apps/web/screens/home-screen.tsx
  apps/web/types/screen.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat(web/use-screen): add callback with promise
  apps/web/hooks/use-screen.ts
Due: eslint --config eslint.config.js --fix

fix: add screens dir to tailwind config content
  apps/web/tailwind.config.ts
Due: eslint --config eslint.config.js --fix

refactor: remove custom screen manager to avoid extra complexity
  apps/web/app/page.tsx
  apps/web/components/shared/wrapper/screen-main.tsx
  apps/web/hooks/use-screen.ts
  apps/web/screens/home-screen.tsx
  apps/web/store/screen-store.tsx
Due: eslint --config eslint.config.js --fix

feat(web/pwa): add pwa support
  apps/web/app/layout.tsx
  apps/web/app/manifest.webmanifest
  apps/web/app/sw.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/icon-192x192.png
  apps/web/public/icon-256x256.png
  apps/web/public/icon-384x384.png
  apps/web/public/icon-512x512.png
  apps/web/public/icon-transparent-black.png
  apps/web/public/icon-transparent-white.png
  apps/web/pwa/index.ts
  apps/web/pwa/metadata.ts
  apps/web/pwa/viewport.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add export utils
  packages/ui/package.json
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/input.tsx
  packages/ui/src/shadcn/separator.tsx
  packages/ui/src/utils/cn.ts
  packages/ui/tsup.config.ts
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add tag buttons
  apps/web/app/globals.scss
  apps/web/app/page.tsx
  apps/web/components/specific/news/featured/featured.tsx
  apps/web/components/specific/tags/tag-button-enhanced.tsx
  apps/web/components/specific/tags/tag-button-primary.tsx
  apps/web/components/specific/tags/tags.tsx
  apps/web/styles/button.scss
  packages/ui/src/shadcn/button.tsx
Due: eslint --config eslint.config.js --fix

ci: add preview deploy workflow
  .github/workflow/vercel-preview.yml
Due: none

Delete .github/workflow directory
  .github/workflow/vercel-preview.yml
Due: none

fix: minor ui adjestments
  .vscode/proximity.code-workspace
  apps/web/.gitignore
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/specific/news/featured/featured-image.tsx
  apps/web/components/specific/tags/tag-button-enhanced.tsx
  apps/web/components/specific/tags/tag-button-primary.tsx
  apps/web/public/json/list
  apps/web/public/json/version
  apps/web/pwa/viewport.ts
  apps/web/styles/_button.scss
  apps/web/styles/globals.scss
  apps/web/types/screen.ts
  eslint.config.js
  packages/ui/src/react/search/index.ts
  packages/ui/src/react/search/search-input.tsx
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

feat: add news card component
  apps/web/app/page.tsx
  apps/web/components/specific/news/featured/featured-image.tsx
  apps/web/components/specific/news/news-card/news-card-skeleton.tsx
  apps/web/components/specific/news/news-card/news-card.tsx
  apps/web/components/specific/news/news-card/news-cover-image.tsx
  apps/web/components/specific/news/news-card/news-source-info.tsx
  apps/web/components/specific/news/news-card/news-title.tsx
  apps/web/components/specific/news/news-card/news-view-count.tsx
  apps/web/components/specific/news/news-grid/news-grid.tsx
  apps/web/next.config.ts
Due: eslint --config eslint.config.js --fix

fix: fix unexpected duplicate
  apps/web/styles/_button.scss
Due: none

fix: upgrade lucide-react from 0.468.0 to 0.469.0
  apps/web/package.json
Due: prettier --write

feat: add llama 3.2 model class
  services/tldr/llm.py
Due: none

feat: add fastapi endpoint to access tl;dr model
  services/tldr/main.py
Due: none

feat: add setup workflow for llama 3.2 1B Instruct
  services/tldr/setup.py
Due: none

chore: python package setup
  services/tldr/.gitignore
  services/tldr/requirements.txt
Due: none

chore: add fastapi to requirements.txt
  services/tldr/requirements.txt
Due: none

docs: add installation adn usage guidelines
  services/tldr/README.md
Due: none

feat: add dependency installation procedure to setup script
  services/tldr/setup.py
Due: none

Update services/tldr/requirements.txt
  services/tldr/requirements.txt
Due: none

chore: add package.json for compatibility with turborepo
  services/tldr/package.json
Due: prettier --write

chore: add code formatter
  services/tldr/llm.py
  services/tldr/main.py
  services/tldr/package.json
  services/tldr/requirements.txt
  services/tldr/setup.py
Due: prettier --write
