Repository Akshay-Vs/proximity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": [
    "eslint --config eslint.config.js --fix"
  ],
  "*.json": ["prettier --write"]
}

refactor: remove unwanted regex from sanitise
  services/scraper/libs/sanitise.ts
Due: none

refactor: improve regex performance
  .vscode/proximity.code-workspace
  package.json
  pnpm-lock.yaml
  services/scraper/libs/sanitise.ts
Due: prettier --write

refactor: rename changelogs -> changelog
  services/tldr/changelog.md
Due: none

feat: add zod validation schema for request and response validation
  services/scraper/schema/request-body-schema.ts
  services/scraper/schema/validate-result.ts
Due: none

refactor: improved scraper performance -/v.1-release-changes
  services/scraper/src/drivers/cheerio-scraper.ts
Due: none

refactor: improved dynamic scraping & optimised initial loading time -/v.1-release-changes
  services/scraper/src/drivers/puppeteerscraper.ts
Due: none

refactor: improve error handling & validation
  services/scraper/src/server.ts
Due: none

chore: add changelog.md
  services/scraper/changelog.md
Due: none

chore: optimise dev pipeline
  services/scraper/libs/find-time-stamp.ts
  services/scraper/libs/sanitise.ts
  services/scraper/libs/trusted-sources.ts
  services/scraper/libs/url-parser.ts
  services/scraper/libs/validate-result.ts
  services/scraper/nodemon.json
  services/scraper/package.json
  services/scraper/tsconfig.json
  services/scraper/tsup.config.ts
Due: prettier --write

chore(scraper): release-1.0.0-alpha-1
  pnpm-lock.yaml
  services/scraper/package.json
  services/scraper/src/server.ts
  services/tldr/changelogs.md
Due: prettier --write

fix: upgrade lucide-react from 0.471.2 to 0.473.0
  apps/web/package.json
Due: prettier --write

feat: add login schema
  apps/web/schemas/login-schema.ts
Due: eslint --config eslint.config.js --fix

feat: add login action
  apps/web/actions/login-action.ts
Due: eslint --config eslint.config.js --fix

feat: add ory login flow
  apps/web/components/specific/auth/login/login-form.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add middleware to validate session & login flow to set cookie session
  apps/web/actions/login-action.ts
  apps/web/middleware.ts
  apps/web/schemas/login-schema.ts
  apps/web/types/kratos-types.ts
Due: eslint --config eslint.config.js --fix

refactor: improve cors security
  apps/web/actions/login-action.ts
  apps/web/middleware.ts
Due: eslint --config eslint.config.js --fix

fix: revert tailwindcss back to v3
  apps/web/package.json
  packages/tailwind-config/package.json
  packages/ui/package.json
Due: prettier --write

fix: revert tailwindcss back to v3
  pnpm-lock.yaml
Due: none

refactor: improve cookie security headers
  apps/web/actions/login-action.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add refresh token flow
  apps/web/actions/login-action.ts
  apps/web/middleware.ts
Due: eslint --config eslint.config.js --fix

feat: add login response handler & form status message
  apps/web/actions/login-action.ts
  apps/web/app/layout.tsx
  apps/web/components/specific/auth/login/login-form.tsx
  apps/web/types/kratos-types.ts
  packages/ui/package.json
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/form.tsx
  packages/ui/src/shadcn/tooltip.tsx
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/watch.ts
Due: eslint --config eslint.config.js --fix, prettier --write

chore: lockfile sync
  pnpm-lock.yaml
Due: none

Update apps/web/components/specific/auth/login/login-form.tsx
  apps/web/components/specific/auth/login/login-form.tsx
Due: eslint --config eslint.config.js --fix

fix: remove unused var 'error'
  apps/web/components/specific/auth/login/login-form.tsx
Due: eslint --config eslint.config.js --fix

feat: add registration flow
  apps/web/actions/register-action.ts
  apps/web/components/specific/auth/register/register-form.tsx
  apps/web/schemas/register-schema.ts
  apps/web/types/kratos-types.ts
Due: eslint --config eslint.config.js --fix

feat: add rabbitMQ config proj
  packages/rabbitmq-config/conf/config.ts
  packages/rabbitmq-config/package.json
  packages/rabbitmq-config/tsconfig.json
  packages/rabbitmq-config/tsup.config.ts
Due: prettier --write

fix: upgrade lucide-react from 0.473.0 to 0.474.0
  packages/ui/package.json
Due: prettier --write

feat: add ory frontendApi
  apps/web/data/auth/ory.ts
  infra/k8s/next/nextjs-deployment.yml
  infra/k8s/ory-kratos/values.yml
Due: eslint --config eslint.config.js --fix

feat(hooks): add use-login-form hook
  apps/web/hooks/use-login-form.ts
Due: eslint --config eslint.config.js --fix

feat(utils): add util func to get csrf token from ory response
  apps/web/utils/get-csrf-token.ts
Due: eslint --config eslint.config.js --fix

feat(utils): add util func to get message id from ory response
  apps/web/utils/get-ory-message-id.ts
Due: eslint --config eslint.config.js --fix

feat(hooks): add invalid csrf token status message, ctx:use-login-form hook
  apps/web/hooks/use-login-form.ts
Due: eslint --config eslint.config.js --fix

refactor: improve login flow, code structure & security
  apps/web/components/specific/auth/login/login-form.tsx
Due: eslint --config eslint.config.js --fix

chore: add scraper .gitignore
  services/scraper/src/.gitignore
Due: none

chore: create idea.md
  idea.md
Due: none

ci: add turbo deploy pipeline
  turbo.json
Due: prettier --write

chore: add start:web script
  package.json
Due: prettier --write

chore: pnpm package update
  pnpm-lock.yaml
Due: none

chore: gitignore certificates
  apps/web/.gitignore
Due: none

feat: enable https experimental mode
  apps/web/package.json
Due: prettier --write
